* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid yellow; */
}


body {
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
  background-repeat: no-repeat;
  background-size: 100% 2000px;
  margin-top: .49em;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 96%;
  margin: 0 auto;
}

#header-container {
  width: 100%;
  margin-bottom: 1em;
}

#header {
  font-family: 'Oleo Script', cursive;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}

#profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

#profile {
  width: 22%;
  height: auto;
  border-radius: 50%;
}

#intro-container {
  display: flex;
  width: 96%;
  margin: 0 auto;
  margin-bottom: 2em;
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

#intro-container > p {
  margin: 0 auto;
}


#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}

.sub-headers {
  color: #ffffff;
  font-family: 'Oleo Script', cursive;
  background-color: rgb(33, 128, 168);
  transition-duration: .5s;
  cursor: pointer;
}

.sub-headers:hover {
  color: orange;
  font-size: 1.5rem;
}


#web-dev-header, #graphic-des-header, #resume-header {
  margin-bottom: 1em;
}

#web-dev-section, #graphic-des-section, #resume-section {
  background-color: rgb(33, 128, 168);
}

#rps-image, #italy-image, #etchasketch-image {
  margin-top: .5em;
  width: 20em;
  height: 14em;
}

#willmore-image1, #willmore-image2 {
  margin-top: .5em;
  width: 18em;
  height: 14em;
}

#willmore-image3 {
  margin-top: .5em;
  width: 18em;
  height: 8em;

}

#prev-image {
  cursor: pointer;
  position: absolute;
  padding: 1em;
  left: 1%;
  margin-top: -11em;
  font-size: 1.3em;
  transition: .6s linear;
}

#next-image {
  cursor: pointer;
  position: absolute;
  padding: 1em;
  right: 1%;
  margin-top: -11em;
  font-size: 1.3em;
  transition: .6s linear;
}

#prev-image:hover, #next-image:hover {
  color: red;
}




.captions {
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

.sub-captions {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 96%;
  color: #ffffff;
  font-size: .9em;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

#resume-content {
  margin-bottom: 3em;
}


#icon-container {
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 100, 155);
  width:100%;
  text-align: center;
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: .2em;
  justify-content: space-between;
  transition-duration: .5s;
}


.icon:hover {
  opacity: 0.4;
}





























