* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid yellow; */
}
body {
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
  background-repeat: no-repeat;
  background-size: 100% 4000px;
  margin-top: .49em;
}
#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 96%;
  margin: 0 auto;
}


/* header text */
#header-container {
  width: 100%;
  margin-bottom: 1.1em;
}
#header {
  font-family: 'Oleo Script', cursive;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}
@media only screen and (min-width: 600px) {
  #header {
    font-size: 4em;
  }
}
@media only screen and (min-width: 1100px) {
  #header {
    text-align: left;
    font-size: 5em;
    width: 95%;
    margin: 0 auto;

  }
}


/* profile picture */
#profile-container {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 1.1em;
}
@media only screen and (min-width: 1100px) {
  #profile-container {
    justify-content: center;
    width: 25%;
    margin-left: 2%;
    margin-bottom: 1.5em;
  }
}

#profile {
  width: 22%;
  min-width: 135px;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}
@media only screen and (min-width: 1100px) {
  #profile {
    width: 100%;
    min-width: 135px;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }
}



/* introductory paragraph */
#intro-container {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 2em;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#intro-container > p {
  line-height: 1.3em;
}
@media only screen and (min-width: 360px) and (max-width: 599px) {
  #intro-container {
    width: 440px;
  }
}
@media only screen and (min-width: 600px) {
  #intro-container {
    width: 600px;
  }
}
@media only screen and (min-width: 840px) {
  #intro-container {
    margin-top: 1em;
    width: 770px;
  }
}
@media only screen and (min-width: 1105px) {
  #intro-container {
    margin-top: 3em;
  }
}
#intro-container > p {
  font-size: 1.2em;
}
@media only screen and (min-width: 600px) {
  #intro-container > p {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 1105px) {
  #intro-container > p {
    font-size: 1.8em;
  }
}



/* work sections general */
#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}
.sub-headers {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Oleo Script', cursive;
  background-color: rgb(33, 128, 168);
  transition-duration: .5s;
  cursor: pointer;
}
.sub-headers:hover {
  color: rgb(255, 136, 0);
  font-size: 1.8rem;
}
#web-dev-header, #graphic-des-header, #resume-header {
  margin-bottom: 1em;
  border-radius: 14em;
}
#web-dev-section, #graphic-des-section, #resume-section {
  background-color: rgba(33, 128, 168, 0.315);
  border-radius: 1em;
}
.captions {
  color: rgb(255, 255, 255);
  margin-top: .2em;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}
.sub-captions {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 268px;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}



/* web development */
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1000px) {
  #rps {
    width: 275px;
  }
}
#rps-image {
  margin-top: 1.1em;
  width: 20em;
  height: 15em;
}
#italy-image {
  margin-top: 1.1em;
  width: 20em;
  height: 12em;
}
#etchasketch-image {
  margin-top: 1.1em;
  width: 20em;
  height: 14em;
}
@media only screen and (min-width: 1000px) {
  #rps-image, #italy-image, #etchasketch-image {
    height: 240px;
    width: auto;
  }
}
#rps-image:hover, #italy-image:hover, #etchasketch-image:hover {
  border: 1px solid rgb(255, 136, 0);
}




/* graphic design */
#graphic-des-section {
  overflow: scroll;
}
.report-images {
  margin-top: 1.2em;
  width: auto;
  height: 6.5em;
}
.report-images:hover {
  border: 1px solid rgb(255, 136, 0);
}
@media only screen and (min-width: 650px) {
  .report-images {
    height: 11em;
  }
}
#willmore-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#willmore-image1, #willmore-image2 {
  margin-top:.5em;
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  #willmore-image1, #willmore-image2 {
    height: 19.5em;
  }
}
#willmore-image3 {
  margin-top: .5em;
  width: 21em;
  height: auto;
}
@media only screen and (min-width: 650px) {
  #willmore-image3 {
    width: 24em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: rgb(255, 136, 0);
}
#aoe-bcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#aoe-image {
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
#personal-bcard1, #personal-bcard2 {
  width: 22em;
  height: auto;
}
@media only screen and (min-width: 650px) {
  #personal-bcard1, #personal-bcard2{
    width: auto;
    height: 15em;
  }
}
.report-images:hover, .willmore-images:hover, #aoe-image:hover, #personal-bcard1:hover, #personal-bcard2:hover {
  border: 1px solid rgb(255, 136, 0);
}



/* resume */
.sub-captions-resume {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 96%;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#resume-content {
  text-align: left;
  padding-right: 1rem;
}
#traits {
  margin-bottom: 3em;
}
#summary > h2 {
  padding-top: 1em;
}
#summary > h2, #prof-exp > h2, #education > h2, #technical > h2, #traits > h2 {
  padding-left: .8em;
  text-align: left;
}
@media only screen and (min-width: 840px) {
  #summary > h2, #prof-exp > h2, #education > h2, #technical > h2, #traits > h2 {
    font-size: 1.5em;
  }
}
#summary > p {
  width: 100%;
  margin-left: 0;
  padding-left: 1em;
  text-align: left;
}
@media only screen and (min-width: 780px) {
  #summary > p {
    width: 780px;
  }
}
@media only screen and (min-width: 840px) {
  #summary > p, li {
    font-size: 1.1em;
  }
}
#prof-exp > h3, #education > h3 {
  padding-top: .5em;
  margin-left: 1em;
  margin-bottom: .5em;
  text-align: left;
  line-height: 1.3em;
}
@media only screen and (min-width: 840px) {
  #prof-exp > h3, #education > h3 {
    font-size: 1.1em;
  }
}
#prof-list, #edu-list, #tech-list {
  padding-left: 1em;
  text-align: left;
}



/* footer */
#icon-container {
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 100, 155);
  width:100%;
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  #icon-container {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20%;
    height: 15%;
    text-align: right;
    background-color: rgba(24, 100, 155, 0);

  }
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: .2em;
  justify-content: space-between;
  transition-duration: .5s;
}
@media only screen and (min-width: 1100px) {
  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }

.icon:hover {
  opacity: 0.4;
}





























