/*SASS Classes*/
%flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}
%script-text {
  font-family: 'Righteous', cursive;
  text-align: center;
  color: rgb(80, 140, 175);
}
%standard-text {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #cecece;
}
%sub-headers {
  font-size: 2em;
  border-radius: 14em;
  background: rgb(231, 0, 145);
  background: linear-gradient(
    90deg,
    rgba(231, 0, 145, 0) 0%,
    rgba(49, 51, 68, 1) 53%,
    rgba(255, 0, 0, 0) 100%
  );
  transition-duration: 0.5s;
  margin-top: 2em;
  margin-bottom: 0.2em;
}
%work-sections {
  border-radius: 1em;
}
%web-dev-img-height-width {
  width: 20em;
  height: auto;
}

/*General Page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0000;
  background-size: 100%;
}
#main-container {
  @extend %flex-and-wrap;
  justify-content: space-around;
  width: 96%;
  margin: 0 auto;
}
#canvas-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Header Text */
#header-container {
  width: 100%;
  margin-bottom: 1.1em;
}
#header {
  @extend %script-text;
  letter-spacing: 0.02em;
  color: rgb(80, 140, 175);
  width: 100%;
  font-size: 3em;
}
@media only screen and (min-width: 600px) {
  #header {
    font-size: 4em;
  }
}
@media only screen and (min-width: 1100px) {
  #header {
    text-align: left;
    font-size: 5em;
    width: 95%;
    margin: 0 auto;
  }
}

/* Profile Picture */
#profile-container {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 1.1em;
}
@media only screen and (min-width: 1100px) {
  #profile-container {
    justify-content: center;
    width: 25%;
    margin-left: 4.5%;
    margin-bottom: 1.5em;
  }
}
#profile {
  width: 22%;
  min-width: 135px;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}
@media only screen and (min-width: 1100px) {
  #profile {
    width: 100%;
    min-width: 135px;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }
}

/* Intro Paragraph */
#intro-container {
  @extend %standard-text;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 2em;
}
#intro-container > p {
  font-size: 1.2em;
  line-height: 1.3em;
}
@media only screen and (min-width: 360px) and (max-width: 599px) {
  #intro-container {
    width: 440px;
  }
}
@media only screen and (min-width: 600px) {
  #intro-container {
    width: 600px;
  }
}
@media only screen and (min-width: 840px) {
  #intro-container {
    margin-top: 1em;
    width: 770px;
  }
}
@media only screen and (min-width: 1105px) {
  #intro-container {
    margin-top: 3em;
  }
}
@media only screen and (min-width: 600px) {
  #intro-container > p {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 1105px) {
  #intro-container > p {
    font-size: 1.8em;
  }
}

/* Work Sections General */
#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}
a > img {
  border: 3px solid rgba(255, 136, 0, 0);
}
a > img:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.sub-headers {
  @extend %script-text;
  @extend %sub-headers;
  color: rgb(80, 140, 175);
}
.work-section {
  @extend %work-sections;
}
#web-dev-content,
#graphic-des-content {
  padding: 2em;
}
.captions {
  @extend %script-text;
  font-size: 1.6em;
  margin-top: 0.2em;
}
.sub-captions {
  @extend %standard-text;
  width: 268px;
  font-size: 1.3em;
  margin: 0 auto;
}
.code-captions {
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 2em;
  color: rgb(80, 136, 170);
}
@media only screen and (min-width: 700px) {
  .sub-captions {
    width: 450px;
  }
}
.report-image-button,
.willmore-image-button {
  width: 2em;
  height: 2em;
  color: rgb(80, 140, 175);
  background-color: #313344da;
  margin: 0.5em;
}

.report-image-button:hover,
.willmore-image-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.3s;
}

/* Web Development */
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#rps-image {
  @extend %web-dev-img-height-width;
}
#rpg-image {
  @extend %web-dev-img-height-width;
}
#italy-image {
  @extend %web-dev-img-height-width;
}
#etchasketch-image {
  @extend %web-dev-img-height-width;
}
@media only screen and (min-width: 1000px) {
  #rps-image,
  #italy-image,
  #etchasketch-image {
    height: 240px;
    width: auto;
  }
}

/* Graphic Design */

#graphic-des-content {
  @extend %flex-and-wrap;
  justify-content: center;
}

#report-container > a,
#willmore-container > a {
  display: contents;
}

.report-images {
  display: inline-block;
  width: auto;
  height: 7em;
  margin: 0 auto;
}
@media only screen and (min-width: 650px) and (max-width: 999px) {
  .report-images {
    height: 11.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .report-images {
    height: 16em;
  }
}

.willmore-images {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  .willmore-images {
    height: 19.5em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: rgb(98, 175, 219);
}
.sub-captions > a:hover {
  color: rgb(80, 140, 175);
}
#aoe-bcard-container {
  @extend %flex-and-wrap;
  justify-content: center;
}
#aoe-image {
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
#personal-bcard1,
#personal-bcard2 {
  width: 22em;
  height: auto;
}
@media only screen and (min-width: 650px) {
  #personal-bcard1,
  #personal-bcard2 {
    width: auto;
    height: 15em;
  }
}

/* Resume */
#resume-content {
  padding: 2em;
}
#resume-content h2 {
  text-align: left;
}
#resume-content div {
  margin-bottom: 1.5em;
}
#resume-content p,
#resume-content li {
  @extend %standard-text;
  text-align: left;
  font-size: 1.2em;
}
#resume-content li {
  margin-top: 0.3em;
  margin-left: 1.5em;
}
#prof-exp > h3,
#education > h3,
table {
  @extend %standard-text;
  text-align: left;
  font-size: 1.2em;
}
#client-list {
  margin-top: 0.6em;
  display: inline-block;
}
#client-list-right {
  display: inline-block;
}
@media only screen and (max-width: 605px) {
  #client-list,
  #client-list-right {
    display: block;
  }
}

/* footer */
#icon-container {
  position: fixed;
  display: inline-block;
  bottom: 0;
  background-color: #313344;
  width: 100%;
  text-align: center;
  z-index: 1;
}
@media only screen and (min-width: 1100px) {
  #icon-container {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20%;
    height: 15%;
    text-align: right;
    background-color: rgba(24, 100, 155, 0);
  }
}
.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.3em;
  justify-content: space-between;
  transition-duration: 0.5s;
  border: none;
}
@media only screen and (min-width: 1100px) {
  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
#resume {
  margin-top: 0;
  margin-left: -0.1rem;
}
.icon:hover {
  opacity: 0.4;
  border: none;
}
#icon-container > a {
  text-decoration: none;
}

#slide-show-markers-container {
  position: absolute;
  display: inline-block;
  color: white;
  border: 1px solid yellow;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 3em;
}

.markers {
  margin: 0.2em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
}
#marker-1 {
  background-color: rgba(255, 255, 255, 0.801);
}
