@charset "UTF-8";
/***************** SASS Classes ******************/
@font-face {
  font-family: header;
  src: url(../fonts/simple.ttf);
}
#graphic-des-content, #main-container {
  display: flex;
  flex-wrap: wrap;
}

.project-buttons, .sub-captions, .captions {
  font-family: header;
  text-align: center;
  color: #b88a78;
}

#rps-image,
#rpg-image,
#italy-image,
#etchasketch-image {
  width: 20em;
  height: auto;
}

/***************** General ******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #0e1524;
}

body {
  display: none;
  background-color: #0e1524;
}

#main-container {
  justify-content: center;
  margin: auto;
}

/***************** Logo ******************/
#logo-container {
  width: fit-content;
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  display: inline-block;
  margin: 0.7em;
}

@media only screen and (max-width: 750px) {
  #logo-container {
    min-width: 55px;
    min-height: 55px;
  }
}
/***************** Headers ******************/
.header {
  text-align: center;
  font-family: header;
  letter-spacing: 0.1em;
  line-height: 1.1em;
}

@media only screen and (max-width: 750px) {
  .header {
    line-height: 1em;
    margin-top: 0.4em;
  }
}
/***************** Social Media Icons ******************/
#social-media-icon-container {
  position: fixed;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #0e1524;
  z-index: 1;
}

#social-media-icon-container > a {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  #social-media-icon-container {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 7em;
    background-color: #0e152400;
    justify-content: space-between;
    margin-left: 1.1em;
    margin-bottom: 5em;
    border-left: 3px solid #62133b;
    border-radius: 2px;
  }
}
.icon {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0.6em;
}

@media only screen and (max-width: 750px) {
  .icon {
    margin: 0.3em;
  }
}
@media only screen and (min-width: 750px) {
  #linkedin,
#mail {
    margin-left: 1em;
  }
}
.icon:hover {
  filter: opacity(0.6);
  transition-duration: 0.25s;
}

/***************** Page Links ******************/
#page-icons-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
}

.icons-container {
  position: relative;
  display: inline-block;
  margin: 1em;
}

.page-icons {
  width: 60px;
  height: 60px;
}

.page-icons:hover {
  cursor: pointer;
}

.front {
  display: block;
}

.back {
  display: none;
}

@media only screen and (max-width: 749px) {
  .icons-container {
    margin: 0.7em 0.5em 0.5em 0.5em;
  }

  #web-container {
    margin-left: 0.1em;
  }

  .page-icons {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 750px) {
  #web-container {
    margin-left: 0.5em;
  }
}
/***************** Introduction ******************/
#intro-container {
  margin: auto auto 5em auto;
  text-align: center;
  width: 95%;
}

@media only screen and (max-width: 750px) {
  #intro-container {
    margin-top: 6em;
  }
}
.hello,
.comma-welcome,
.intro-para {
  color: #b88a78;
  font-size: 2.5em;
}

@media only screen and (max-width: 650px) {
  .hello,
.comma-welcome,
.intro-para {
    font-size: 1.75em;
  }
}
.hello,
.comma-welcome {
  display: inline-block;
}

.intro-para {
  line-height: 1.2em;
  text-align: center;
  margin: 1em auto auto auto;
  width: 70%;
  min-width: 300px;
  max-width: 750px;
}

/***************** Work General ******************/
.sub-header {
  font-family: header;
  text-align: center;
  color: #b88a78;
  font-size: 5em;
  line-height: 1.1em;
  z-index: 0;
}

@media only screen and (max-width: 750px) {
  .sub-header {
    margin-top: 1em;
    font-size: 3em;
  }
}
#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}

#report-container > a > img,
#willmore-container > a > img,
#aoe-container > a > img,
#bcard-container > a > img {
  border: 3px solid rgba(255, 136, 0, 0);
}

#report-container > a > img:hover,
#willmore-container > a > img:hover,
#aoe-container > a > img:hover,
#bcard-container > a > img:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
}

#web-dev-content,
#graphic-des-content {
  padding: 2em;
}

.captions {
  color: #62133b;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  margin-top: 0.2em;
}

.sub-captions {
  width: 268px;
  font-size: 1.6em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin: 0.3em auto auto auto;
}

@media only screen and (min-width: 700px) {
  .sub-captions {
    width: 460px;
  }
}
/***************** About ******************/
@media only screen and (min-width: 750px) {
  .intro-about-container {
    display: flex;
    justify-content: center;
  }

  .intro-para-container {
    width: fit-content;
    height: fit-content;
    margin-top: 2em;
  }
}
@media only screen and (min-width: 990px) {
  .intro-para-container {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 749px) {
  .profile {
    margin: 1.5em auto 1.5em auto;
    max-width: 130px;
    max-height: auto;
  }
}
@media only screen and (min-width: 750px) {
  .profile {
    margin: 2em;
    max-width: 180px;
    max-height: auto;
  }
}
.content-intro {
  text-align: center;
  font-size: 1.5em;
  max-width: 650px;
  min-width: 372px;
  margin-top: 0.5em;
  margin-right: 0em;
  color: #b88a78;
}

@media only screen and (max-width: 749px) {
  .content-intro {
    font-size: 1.3em;
    max-width: 430px;
    margin: 0.5em auto auto auto;
  }
}
@media only screen and (min-width: 749px) {
  .content-intro {
    text-align: left;
  }
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
  width: 100%;
  height: 50px;
}

.aboutDiv {
  width: 33%;
  margin-bottom: 4em;
}

#toolsDiv {
  border-left: 1px solid #62133b;
  border-right: 1px solid #62133b;
}

.aboutTextTitles {
  color: #a05d00;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
}

.list-item {
  font-family: header;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: #b88a78;
}

@media only screen and (min-width: 550px) and (max-width: 749px) {
  .aboutTextTitles {
    font-size: 1.9em;
  }

  .list-item {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 750px) {
  .skills-container {
    margin-top: 4em;
  }

  .aboutTextTitles {
    font-size: 2.4em;
  }

  .list-item {
    line-height: 1.2em;
    font-size: 2.2em;
  }
}
.aboutDiv > ul {
  list-style: none;
}

.aboutDiv > ul > li::before {
  content: "•";
  color: #62133b;
  font-weight: bold;
  display: inline-block;
  width: 0.5em;
  margin-left: -0.5em;
}

/***************** Web Development ******************/
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  #rps,
#italy,
#etch,
#rpg {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps,
#italy,
#etch,
#rpg {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps-image,
#italy-image,
#etchasketch-image {
    height: 240px;
    width: auto;
  }
}
#rps-image,
#italy-image,
#etchasketch-image,
#rpg-image {
  display: block;
  margin: 0 auto;
}

.project-buttons {
  font-size: 1.3em;
  padding: 0.3em;
  margin: 0.35em;
  display: inline-block;
  background-color: #31334400;
  border-radius: 10%;
  opacity: 0.8;
  border: 1px solid #b88a78;
}

.project-buttons:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: #a05d00;
}

/***************** Graphic Design ******************/
#graphic-des-content {
  justify-content: space-evenly;
}

#graphic-des-content > div {
  margin: 2em;
}

#web-dev-content > div {
  margin-bottom: 2em;
}

#report-container > a,
#willmore-container > a {
  display: contents;
}

.report-images {
  display: inline-block;
  width: auto;
  height: 7em;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) and (max-width: 999px) {
  .report-images {
    height: 11.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .report-images {
    height: 16em;
  }
}
.willmore-images {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  width: auto;
  height: 15em;
}

@media only screen and (min-width: 650px) {
  .willmore-images {
    height: 19.5em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: #62afdb;
}

.sub-captions > a:hover {
  color: #508caf;
}

.report-image-button,
.willmore-image-button {
  width: 2em;
  height: 2em;
  color: #b88a78;
  background-color: #31334400;
  margin: 0.5em;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid #b88a78;
}

.report-image-button:hover,
.willmore-image-button:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: #ff8800;
}

#report-markers-container,
#willmore-markers-container {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 3em;
}

#willmore-markers-container {
  margin-left: 1.5em;
}

@media only screen and (min-width: 650px) {
  #report-markers-container {
    margin-left: 8em;
  }
}
@media only screen and (min-width: 1000px) {
  #report-markers-container {
    margin-left: 16em;
  }
}
@media only screen and (min-width: 650px) {
  #willmore-markers-container {
    margin-left: 3em;
  }
}
.report-markers,
.willmore-markers {
  margin: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
}

#report-marker-1,
#willmore-marker-1 {
  background-color: rgba(255, 255, 255, 0.801);
}

#aoe-image {
  width: auto;
  height: 15em;
}

@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
.personal-bcard {
  width: 22em;
  height: auto;
}

@media only screen and (min-width: 650px) {
  .personal-bcard {
    width: auto;
    height: 15em;
  }
}

/*# sourceMappingURL=index.css.map */
