/***************** SASS Classes ******************/
@font-face {
  font-family: header;
  src: url(../fonts/simple.ttf);
}

%flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}

%script-text {
  font-family: 'Righteous', cursive;
  text-align: center;
  color: rgb(80, 140, 175);
}

%standard-text {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #cecece;
}

%sub-headers {
  font-size: 2em;
  border-radius: 14em;
  background: rgb(231, 0, 145);
  background: linear-gradient(
    90deg,
    rgba(231, 0, 145, 0) 0%,
    rgba(49, 51, 68, 1) 53%,
    rgba(255, 0, 0, 0) 100%
  );
  transition-duration: 0.5s;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

%work-sections {
  border-radius: 1em;
}

%web-dev-img-height-width {
  width: 20em;
  height: auto;
}

/***************** General ******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 0.2px solid yellow;
}
html {
  background-color: #0e1524;
}
body {
  display: none;
  background-color: #0e1524;
}
#main-container {
  @extend %flex-and-wrap;
  justify-content: center;
  margin: auto;
}

/***************** Top Banner ******************/
#banner {
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 950px) {
  #banner {
    display: none;
  }
}

/***************** Logo ******************/
#logo-container {
  width: fit-content;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: 0.7em auto 1em auto;
}
@media only screen and (min-width: 700px) {
  #logo-container {
    display: inline-block;
    margin: 0.7em;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#logo-bg {
  animation-name: spin;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
}

/***************** Headers ******************/
#header-container {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
}
@media only screen and (min-width: 700px) {
  #header-container {
    display: inline-block;
    margin-top: 1.3em;
    margin-bottom: 0;
    vertical-align: top;
  }
}
.header {
  text-align: center;
  font-family: header;
  letter-spacing: 0.1em;
  line-height: 1.1em;
}
.name {
  color: #ae677d;
  font-size: 3em;
}
.web,
.graphic {
  display: inline-block;
  color: #9890a6;
  font-size: 0.97em;
}
.divide {
  display: inline-block;
  color: #78b1b8;
  margin: auto 0.2em auto 0.2em;
  font-size: 0.9em;
}
@media only screen and (max-width: 360px) {
  .name {
    font-size: 2.5em;
  }
  .web,
  .graphic,
  .divide {
    font-size: 1em;
  }
}

/***************** Social Media Icons ******************/
#social-media-icon-container {
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0e1524;
  z-index: 1;
}
#social-media-icon-container > a {
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  #social-media-icon-container {
    position: relative;
    display: block;
    width: fit-content;
    background-color: #0e152400;
    margin-bottom: 5em;
    margin-left: 9.2em;
    margin-top: -1.6em;
  }
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.3em;
  justify-content: space-between;
  border: none;
}

@media only screen and (min-width: 700px) {
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

#resume {
  margin-top: 0;
  margin-left: -0.1rem;
}

.icon:hover {
  filter: brightness(0.7);
}

/***************** Page Links ******************/

#page-links-container {
  position: absolute;
  margin: 1.3em auto auto auto;
  top: 0;
  right: 0;
}

#page-links-container > ul {
  list-style-type: none;
}

#divide1,
#divide2 {
  color: #78b1b8;
}

.page-links {
  display: inline-block;
  font-size: 1.3em;
  margin: auto 0.7em auto auto;
}
@media only screen and (max-width: 750px) {
  .page-links {
    display: block;
    text-align: right;
  }
}

.page-anchors {
  color: #9890a6;
  text-decoration: none;
}
.page-anchors:hover {
  transition-duration: 0.25s;
  color: #ccc1e0;
}

@media only screen and (min-width: 950px) and (max-width: 1339px) {
  .page-links {
    font-size: 1.5em;
  }
  .page-anchors {
    color: #202435;
  }
  #page-links-container {
    margin: 1em auto auto auto;
  }
}
@media only screen and (min-width: 1340px) {
  .page-links {
    font-size: 1.7em;
  }
  .page-anchors {
    color: #202435;
  }
}

/***************** Introduction ******************/
#intro-container {
  width: 99%;
  margin: auto auto 5em auto;
  text-align: center;
}

.hello,
.comma-welcome,
.intro-para {
  color: #78b1b8;
  font-size: 1.8em;
}

.hello,
.comma-welcome {
  display: inline-block;
}

.intro-para {
  line-height: 1.2em;
  text-align: center;
  margin: 1em auto auto auto;
  width: 85%;
  min-width: 300px;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  .hello,
  .comma-welcome,
  .intro-para {
    font-size: 1.5em;
  }
}

/***************** Work General ******************/
#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}
#report-container > a > img,
#willmore-container > a > img,
#aoe-bcard-container > a > img {
  border: 3px solid rgba(255, 136, 0, 0);
}
#report-container > a > img:hover,
#willmore-container > a > img:hover,
#aoe-box > a > img:hover,
#personal-bcard > a > img:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.sub-headers {
  @extend %script-text;
  @extend %sub-headers;
  color: #636fa1;
}
.work-section {
  @extend %work-sections;
}
#web-dev-content,
#graphic-des-content {
  padding: 2em;
}
.captions {
  @extend %script-text;
  font-size: 1.6em;
  margin-top: 0.2em;
}
.sub-captions {
  @extend %standard-text;
  width: 268px;
  font-size: 1.3em;
  margin: 0 auto;
}
.code-captions {
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 2em;
  color: rgb(80, 136, 170);
}
@media only screen and (min-width: 700px) {
  .sub-captions {
    width: 450px;
  }
}

/***************** Web Development ******************/
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  #rps,
  #italy,
  #etch,
  #rpg {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps,
  #italy,
  #etch,
  #rpg {
    width: 50%;
  }
}
#rps-image,
#rpg-image,
#italy-image,
#etchasketch-image {
  @extend %web-dev-img-height-width;
}
@media only screen and (min-width: 1000px) {
  #rps-image,
  #italy-image,
  #etchasketch-image {
    height: 240px;
    width: auto;
  }
}
#rps-image,
#italy-image,
#etchasketch-image,
#rpg-image {
  display: block;
  margin: 0 auto;
}
.project-buttons {
  font-size: 0.85em;
  text-align: center;
  padding: 0.3em;
  margin: 0.5em;
  display: inline-block;
  color: rgb(112, 203, 255);
  background-color: #313344da;
  border-radius: 10%;
  opacity: 0.8;
  border: 1px solid rgb(112, 203, 255);
}
.project-buttons:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: rgb(255, 136, 0);
}

/***************** Graphic Design ******************/
#graphic-des-content {
  @extend %flex-and-wrap;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1000px) {
  #aoe-bcard-container {
    width: 100%;
  }
}
#report-container > a,
#willmore-container > a {
  display: contents;
}
.report-images {
  display: inline-block;
  width: auto;
  height: 7em;
  margin: 0 auto;
}
@media only screen and (min-width: 650px) and (max-width: 999px) {
  .report-images {
    height: 11.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .report-images {
    height: 16em;
  }
}
.willmore-images {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  .willmore-images {
    height: 19.5em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: rgb(98, 175, 219);
}
.sub-captions > a:hover {
  color: rgb(80, 140, 175);
}
.report-image-button,
.willmore-image-button {
  width: 2em;
  height: 2em;
  color: rgb(80, 140, 175);
  background-color: #313344da;
  margin: 0.5em;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid rgb(112, 203, 255);
}
.report-image-button:hover,
.willmore-image-button:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: rgb(255, 136, 0);
}
#report-markers-container,
#willmore-markers-container {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 3em;
}
#willmore-markers-container {
  margin-left: 1.5em;
}
@media only screen and (min-width: 650px) {
  #report-markers-container {
    margin-left: 8em;
  }
}
@media only screen and (min-width: 1000px) {
  #report-markers-container {
    margin-left: 16em;
  }
}
@media only screen and (min-width: 650px) {
  #willmore-markers-container {
    margin-left: 3em;
  }
}
.report-markers,
.willmore-markers {
  margin: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
}
#report-marker-1,
#willmore-marker-1 {
  background-color: rgba(255, 255, 255, 0.801);
}
#aoe-bcard-container {
  @extend %flex-and-wrap;
  justify-content: space-evenly;
}
#aoe-image {
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
#personal-bcard1,
#personal-bcard2 {
  width: 22em;
  height: auto;
}
@media only screen and (min-width: 650px) {
  #personal-bcard1,
  #personal-bcard2 {
    width: auto;
    height: 15em;
  }
}

/***************** Resume ******************/
#resume-content {
  padding: 2em;
}
@media only screen and (min-width: 1060px) {
  #resume-content {
    width: 1060px;
  }
}

#resume-content h2 {
  text-align: left;
}

#resume-content div {
  margin-bottom: 1.5em;
}

#resume-content p,
#resume-content li {
  @extend %standard-text;
  text-align: left;
  font-size: 1.2em;
}

#resume-content li {
  margin-top: 0.3em;
  margin-left: 1.5em;
}

#prof-exp > h3,
#education > h3,
table {
  @extend %standard-text;
  text-align: left;
  font-size: 1.2em;
}

#client-list {
  margin-top: 0.6em;
  display: inline-block;
}

#client-list-right {
  display: inline-block;
}

@media only screen and (max-width: 605px) {
  #client-list,
  #client-list-right {
    display: block;
  }
}
