/*SASS Classes*/
@font-face {
  font-family: header;
  src: url(../fonts/simple.ttf);
}
#aoe-bcard-container, #graphic-des-content, #main-container {
  display: flex;
  flex-wrap: wrap;
}

.captions, .sub-headers {
  font-family: "Righteous", cursive;
  text-align: center;
  color: #508caf;
}

#prof-exp > h3,
#education > h3,
table, #resume-content p,
#resume-content li, .sub-captions {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: #cecece;
}

.sub-headers {
  font-size: 2em;
  border-radius: 14em;
  background: #e70091;
  background: linear-gradient(90deg, rgba(231, 0, 145, 0) 0%, #313344 53%, rgba(255, 0, 0, 0) 100%);
  transition-duration: 0.5s;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

.work-section {
  border-radius: 1em;
}

#rps-image,
#rpg-image,
#italy-image,
#etchasketch-image {
  width: 20em;
  height: auto;
}

/*General Page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e1524;
}

#main-container {
  justify-content: space-around;
  width: 98%;
  margin: 0 auto;
}

#canvas-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Logo */
#logo-container {
  position: relative;
  width: 20%;
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  margin: 0.5em auto 1.5em auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo-bg {
  animation-name: spin;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
}

/* Headers */
#header-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
}

.header {
  text-align: center;
  font-family: header;
  letter-spacing: 0.1em;
  line-height: 1em;
}

.name {
  color: #ae677d;
  font-size: 3.5em;
}

.web,
.graphic {
  display: inline-block;
  color: #9890a6;
  font-size: 1.3em;
}

.divide {
  display: inline-block;
  color: #78b1b8;
  margin: auto 0.3em auto 0.3em;
  font-size: 1.3em;
}

@media only screen and (max-width: 360px) {
  .name {
    font-size: 2.5em;
  }

  .web,
.graphic,
.divide {
    font-size: 1em;
  }
}
/* Introdution */
#intro-container {
  width: 100%;
  margin: auto auto 5em auto;
  text-align: center;
}

.hello,
.comma,
.welcome,
.intro-para {
  color: #78b1b8;
  font-size: 2em;
}

.intro-para {
  line-height: 1.2em;
  text-align: left;
  margin: 1em auto auto auto;
  width: 80%;
  min-width: 395px;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  .hello,
.comma,
.welcome,
.intro-para {
    font-size: 1.5em;
  }
}
/* Work Sections General */
#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}

a > img {
  border: 3px solid rgba(255, 136, 0, 0);
}

a > img:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.sub-headers {
  color: #508caf;
}

#web-dev-content,
#graphic-des-content {
  padding: 2em;
}

.captions {
  font-size: 1.6em;
  margin-top: 0.2em;
}

.sub-captions {
  width: 268px;
  font-size: 1.3em;
  margin: 0 auto;
}

.code-captions {
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 2em;
  color: #5088aa;
}

@media only screen and (min-width: 700px) {
  .sub-captions {
    width: 450px;
  }
}
/* Web Development */
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  #rps,
#italy,
#etch,
#rpg {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps,
#italy,
#etch,
#rpg {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps-image,
#italy-image,
#etchasketch-image {
    height: 240px;
    width: auto;
  }
}
#rps-image,
#italy-image,
#etchasketch-image,
#rpg-image {
  display: block;
  margin: 0 auto;
}

.project-buttons {
  font-size: 0.85em;
  text-align: center;
  padding: 0.3em;
  margin: 0.5em;
  display: inline-block;
  color: #70cbff;
  background-color: #313344da;
  border-radius: 10%;
  opacity: 0.8;
  border: 1px solid #70cbff;
}

.project-buttons:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: #ff8800;
}

/* Graphic Design */
#graphic-des-content {
  justify-content: space-evenly;
}

@media only screen and (min-width: 1000px) {
  #aoe-bcard-container {
    width: 100%;
  }
}
#report-container > a,
#willmore-container > a {
  display: contents;
}

.report-images {
  display: inline-block;
  width: auto;
  height: 7em;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) and (max-width: 999px) {
  .report-images {
    height: 11.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .report-images {
    height: 16em;
  }
}
.willmore-images {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  width: auto;
  height: 15em;
}

@media only screen and (min-width: 650px) {
  .willmore-images {
    height: 19.5em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: #62afdb;
}

.sub-captions > a:hover {
  color: #508caf;
}

.report-image-button,
.willmore-image-button {
  width: 2em;
  height: 2em;
  color: #508caf;
  background-color: #313344da;
  margin: 0.5em;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid #70cbff;
}

.report-image-button:hover,
.willmore-image-button:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: #ff8800;
}

#report-markers-container,
#willmore-markers-container {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 3em;
}

#willmore-markers-container {
  margin-left: 1.5em;
}

@media only screen and (min-width: 650px) {
  #report-markers-container {
    margin-left: 8em;
  }
}
@media only screen and (min-width: 1000px) {
  #report-markers-container {
    margin-left: 16em;
  }
}
@media only screen and (min-width: 650px) {
  #willmore-markers-container {
    margin-left: 3em;
  }
}
.report-markers,
.willmore-markers {
  margin: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
}

#report-marker-1,
#willmore-marker-1 {
  background-color: rgba(255, 255, 255, 0.801);
}

#aoe-bcard-container {
  justify-content: space-evenly;
}

#aoe-image {
  width: auto;
  height: 15em;
}

@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
#personal-bcard1,
#personal-bcard2 {
  width: 22em;
  height: auto;
}

@media only screen and (min-width: 650px) {
  #personal-bcard1,
#personal-bcard2 {
    width: auto;
    height: 15em;
  }
}
/* Resume */
#resume-content {
  padding: 2em;
}

@media only screen and (min-width: 1060px) {
  #resume-content {
    width: 1060px;
  }
}
#resume-content h2 {
  text-align: left;
}

#resume-content div {
  margin-bottom: 1.5em;
}

#resume-content p,
#resume-content li {
  text-align: left;
  font-size: 1.2em;
}

#resume-content li {
  margin-top: 0.3em;
  margin-left: 1.5em;
}

#prof-exp > h3,
#education > h3,
table {
  text-align: left;
  font-size: 1.2em;
}

#client-list {
  margin-top: 0.6em;
  display: inline-block;
}

#client-list-right {
  display: inline-block;
}

@media only screen and (max-width: 605px) {
  #client-list,
#client-list-right {
    display: block;
  }
}
/* footer */
#icon-container {
  position: fixed;
  display: inline-block;
  bottom: 0;
  background-color: #313344;
  width: 100%;
  text-align: center;
  z-index: 1;
}

@media only screen and (min-width: 1100px) {
  #icon-container {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20%;
    height: 15%;
    text-align: right;
    background-color: rgba(24, 100, 155, 0);
  }
}
.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.3em;
  justify-content: space-between;
  transition-duration: 0.5s;
  border: none;
}

@media only screen and (min-width: 1100px) {
  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
#resume {
  margin-top: 0;
  margin-left: -0.1rem;
}

.icon:hover {
  opacity: 0.4;
  border: none;
}

#icon-container > a {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
