/***************** SASS Classes ******************/
@font-face {
  font-family: header;
  src: url(../fonts/simple.ttf);
}

%flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}

%script-text {
  font-family: 'Righteous', cursive;
  text-align: center;
  color: rgb(80, 140, 175);
}

%standard-text {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #cecece;
}

%web-dev-img-height-width {
  width: 20em;
  height: auto;
}

/***************** General ******************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 0.2px solid yellow;
}
html {
  background-color: #0e1524;
}
body {
  display: none;
  background-color: #0e1524;
}
#main-container {
  @extend %flex-and-wrap;
  justify-content: center;
  margin: auto;
}

/***************** Logo ******************/
#logo-container {
  width: fit-content;
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  display: inline-block;
  margin: 0.7em;
}

@media only screen and (max-width: 750px) {
  #logo-container {
    min-width: 55px;
    min-height: 55px;
  }
}
/***************** Headers ******************/
#header-container {
  width: fit-content;
  text-align: center;
  margin-bottom: 5em;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0;
  vertical-align: top;
}
@media only screen and (max-width: 550px) {
  #header-container {
    display: none;
  }
}

.header {
  text-align: center;
  font-family: header;
  letter-spacing: 0.1em;
  line-height: 1.1em;
}
.name {
  color: #b88a78;
  font-size: 3em;
}

.web,
.graphic {
  display: inline-block;
  color: #b88a78;
  font-size: 0.97em;
}
.divide {
  display: inline-block;
  color: #78b1b8;
  margin: auto 0.2em auto 0.2em;
  font-size: 0.9em;
}
@media only screen and (max-width: 360px) {
  .name {
    font-size: 2.5em;
  }
  .web,
  .graphic,
  .divide {
    font-size: 1em;
  }
}
@media only screen and (max-width: 750px) {
  .header {
    line-height: 1em;
    margin-top: 0.4em;
  }
  .name {
    font-size: 2em;
  }
  .web,
  .graphic,
  .divide {
    font-size: 0.65em;
  }
}

/***************** Social Media Icons ******************/
#social-media-icon-container {
  position: fixed;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  // text-align: center;
  background-color: #0e1524;
  z-index: 1;
}
#social-media-icon-container > a {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  #social-media-icon-container {
    position: relative;
    display: block;
    width: fit-content;
    background-color: #0e152400;
    margin-bottom: 9em;
    margin-left: 8em;
    margin-top: -0.7em;
  }
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.3em;
  justify-content: space-between;
  border: none;
}

@media only screen and (min-width: 750px) {
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

.icon:hover {
  filter: brightness(0.7);
  transition-duration: 0.25s;
}

/***************** Page Links ******************/

#page-icons-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
}
.icons-container {
  position: relative;
  display: inline-block;
  margin: 1em;
}

@media only screen and (max-width: 550px) {
  .icons-container {
    margin: 0.7em 0.2em 0.2em 0.2em;
  }
}
@media only screen and (min-width: 551px) and (max-width: 750px) {
  .icons-container {
    margin: 2em 0.4em 1em 0.4em;
  }
}

.page-icons {
  width: 60px;
  height: 60px;
}
.page-icons:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .page-icons {
    width: 40px;
    height: 40px;
  }
}

.front {
  display: block;
}
.back {
  display: none;
}

/***************** Introduction ******************/
#intro-container {
  margin: auto auto 5em auto;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  #intro-container {
    margin-top: 6em;
  }
}

.hello,
.comma-welcome,
.intro-para {
  color: #b88a78;
  font-size: 2.5em;
}
@media only screen and (max-width: 650px) {
  .hello,
  .comma-welcome,
  .intro-para {
    font-size: 1.75em;
  }
}

.hello,
.comma-welcome {
  display: inline-block;
}

.intro-para {
  line-height: 1.2em;
  text-align: center;
  margin: 1em auto auto auto;
  width: 70%;
  min-width: 300px;
  max-width: 750px;
}

/***************** Work General ******************/

.sub-header {
  font-family: header;
  text-align: center;
  color: #b88a78;
  font-size: 7em;
  line-height: 1.1em;
  z-index: 0;
}

@media only screen and (max-width: 750px) {
  .sub-header {
    margin-top: 1em;
    font-size: 4em;
  }
}

#work-container {
  text-align: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 1em;
}
#report-container > a > img,
#willmore-container > a > img,
#aoe-container > a > img,
#bcard-container > a > img {
  border: 3px solid rgba(255, 136, 0, 0);
}
#report-container > a > img:hover,
#willmore-container > a > img:hover,
#aoe-container > a > img:hover,
#bcard-container > a > img:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
}

#web-dev-content,
#graphic-des-content {
  padding: 2em;
}
.captions {
  @extend %script-text;
  font-size: 1.6em;
  margin-top: 0.2em;
}
.sub-captions {
  @extend %standard-text;
  width: 268px;
  font-size: 1.3em;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .sub-captions {
    width: 450px;
  }
}

/***************** About ******************/

.content-intro {
  text-align: center;
  font-size: 2em;
  width: 80%;
  max-width: 700px;
  min-width: 372px;
  margin: 1em auto auto auto;
  color: #b88a78;
}
@media only screen and (max-width: 750px) {
  .content-intro {
    font-size: 1.5em;
  }
}

.skills-container {
  margin-top: 1em;
  border: 1px solid yellow;
  width: 100%;
  height: 50px;
}

/***************** Web Development ******************/
@media only screen and (min-width: 1000px) {
  #web-dev-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  #rps,
  #italy,
  #etch,
  #rpg {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  #rps,
  #italy,
  #etch,
  #rpg {
    width: 50%;
  }
}
#rps-image,
#rpg-image,
#italy-image,
#etchasketch-image {
  @extend %web-dev-img-height-width;
}
@media only screen and (min-width: 1000px) {
  #rps-image,
  #italy-image,
  #etchasketch-image {
    height: 240px;
    width: auto;
  }
}
#rps-image,
#italy-image,
#etchasketch-image,
#rpg-image {
  display: block;
  margin: 0 auto;
}
.project-buttons {
  font-size: 0.85em;
  text-align: center;
  padding: 0.3em;
  margin: 0.5em;
  display: inline-block;
  color: rgb(112, 203, 255);
  background-color: #313344da;
  border-radius: 10%;
  opacity: 0.8;
  border: 1px solid rgb(112, 203, 255);
}
.project-buttons:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: rgb(255, 136, 0);
}

/***************** Graphic Design ******************/
#graphic-des-content {
  @extend %flex-and-wrap;
  justify-content: space-evenly;
}
#graphic-des-content > div {
  margin: 2em;
}
#web-dev-content > div {
  margin-bottom: 2em;
}

#report-container > a,
#willmore-container > a {
  display: contents;
}
.report-images {
  display: inline-block;
  width: auto;
  height: 7em;
  margin: 0 auto;
}
@media only screen and (min-width: 650px) and (max-width: 999px) {
  .report-images {
    height: 11.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .report-images {
    height: 16em;
  }
}
.willmore-images {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  .willmore-images {
    height: 19.5em;
  }
}
.sub-captions > a {
  text-decoration: none;
  color: rgb(98, 175, 219);
}
.sub-captions > a:hover {
  color: rgb(80, 140, 175);
}
.report-image-button,
.willmore-image-button {
  width: 2em;
  height: 2em;
  color: rgb(80, 140, 175);
  background-color: #313344da;
  margin: 0.5em;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid rgb(112, 203, 255);
}
.report-image-button:hover,
.willmore-image-button:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  color: rgb(255, 136, 0);
}
#report-markers-container,
#willmore-markers-container {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: right;
  margin-top: 0.5em;
  margin-left: 3em;
}
#willmore-markers-container {
  margin-left: 1.5em;
}
@media only screen and (min-width: 650px) {
  #report-markers-container {
    margin-left: 8em;
  }
}
@media only screen and (min-width: 1000px) {
  #report-markers-container {
    margin-left: 16em;
  }
}
@media only screen and (min-width: 650px) {
  #willmore-markers-container {
    margin-left: 3em;
  }
}
.report-markers,
.willmore-markers {
  margin: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 50%;
}
#report-marker-1,
#willmore-marker-1 {
  background-color: rgba(255, 255, 255, 0.801);
}

#aoe-image {
  width: auto;
  height: 15em;
}
@media only screen and (min-width: 650px) {
  #aoe-image {
    width: auto;
    height: 22em;
  }
}
.personal-bcard {
  width: 22em;
  height: auto;
}
@media only screen and (min-width: 650px) {
  .personal-bcard {
    width: auto;
    height: 15em;
  }
}
